---
import Container from '@components/Container.astro'
import TeamPagePlayer from '@components/TeamPagePlayer.astro'
import TeamsSeclectorCards from '@components/TeamsSeclectorCards.astro'
import TeamStats from '@components/TeamStats.astro'
import Layout from '@layouts/Layout.astro'
import { findPresidentById } from '@services/presidents'
import { getAllTeams, getPlayersTwelveFor } from '@services/teams'

const ICON_NETWORK_MAPPING = [
  'instagram',
  'tiktok',
  'twitch',
  'twitter',
  'youtube'
]

const { id, name, imageWhite, socialNetworks, presidentId, players } =
  Astro.props

const playersTwelve = await getPlayersTwelveFor({ teamId: id })

export async function getStaticPaths() {
  const teams = await getAllTeams()

  return teams.map((team) => ({
    params: { teamId: team.id },
    props: { ...team }
  }))
}

const socialNetworksWithIcons = socialNetworks.map((href) => ({
  href,
  icon: ICON_NETWORK_MAPPING.find((key) => href.includes(key))
}))

const president = await findPresidentById(presidentId)
const gradient = `bg-${id}`
---

<Layout title={name}>
  <section class='bg-principal py-20'>
    <Container>
      <div
        class={`relative py-10 px-2 md:px-20 md:py-10 shadow-xl sm:rounded -mt-10 z-10 mb-40 ${gradient}`}
      >
        <section
          class='relative flex flex-col xl:flex-row items-center justify-between pb-10'
        >
          <div class='flex flex-col'>
            <div class='flex flex-col xl:flex-row items-center gap-x-6 mb-2'>
              <img
                class='w-28'
                src={imageWhite}
                alt={`Escudo del eqipo ${name}`}
              />
              <div class='flex flex-col justify-end text-center gap-y-4'>
                <h1
                  class='font-title font-bold text-4xl md:text-6xl text-white'
                >
                  {name}
                </h1>
                <ul class='flex gap-x-4'>
                  {
                    socialNetworksWithIcons.map(({ href, icon }) => {
                      return (
                        <li>
                          <a
                            href={href}
                            target='_blank'
                            rel='noopener nonrefferer'
                            class='block transition hover:scale-150'
                          >
                            <img
                              src={`/logos/social/${icon}.svg`}
                              alt='test'
                              class='w-8 h-8'
                            />
                          </a>
                        </li>
                      )
                    })
                  }
                </ul>
              </div>
            </div>
            <TeamStats teamId={id} />
          </div>

          <div class='absolute -top-24 right-0 text-center'>
            <img
              class='w-96 h-auto aspect-[170/239]'
              src={president.image}
              alt={president.name}
            />
            <strong class='text-white text-xl font-title font-bold block -mt-8'
              >{president.name}</strong
            >
          </div>
        </section>

        <TeamPagePlayer players={players} title='Jugadores' />
        <TeamPagePlayer players={playersTwelve} title='Jugador 12' />

        <div
          class='absolute opacity-10 bg-[size:100%] bg-center inset-0 -z-10 bg-no-repeat'
          style={`background-image: url('${imageWhite}')`}
        >
        </div>
      </div>
    </Container>
    <Container>
      <div class='bg-white shadow-xl p-20 pt-10 -mt-10 z-10 mb-40'>
        <h2 class='text-5xl font-title text-black text-center'>
          Todos los equipos
        </h2>
        <TeamsSeclectorCards />
      </div>
    </Container>
  </section>
</Layout>
